<div style="margin-top:40px">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-info"
          style="background-color: #ECEFF1"
          >

    <!-- Section: Links  -->
    <section class="footer_container">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <img src="{{url_for('static',filename='/image/logo.png')}}" alt="">
            <p><i class="fas fa-home mr-3"></i> Nhơn Đức, Nhà Bè</p>
            <p><i class="fas fa-envelope mr-3"></i> dunguyen31122002@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> +84 352910704</p>
          </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 social">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact Social</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <div>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
             <i class="fab fa-google"></i>
             <i class="fab fa-instagram"></i>
            </div>
        </div>
      </div>
      </div>
    </section>


    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/"
         >MEDICAL</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->